body{
    color: #000000;
    background-color: #808080;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

td{
    text-align: center;
}

table{
    background-color: #a0a0a0;
}