body{
    color: #959595;
    background-color: #ffffff;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

td{
    text-align: center;
}

table{
    background-color: #2ceeff;
}