body{
    color: #da6200;
    background-color: #000000;
}

h1{
    text-align: center;
    font-size: 75px;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

table{
    background-color: #232323;
    margin-bottom: 50px;
}

.container .btn{
    width: 20%;
    margin-left: 10%;
}

.container .btn:hover{
    filter: brightness(50%);
}

.SmallIcon{
    margin-left: 50%;
}